<!DOCTYPE html>
<html xmlns:th>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
#map {
	height: 500px;
	width: 100%;
}
</style>
</head>
<body>
	<h1>This is the Secret, you should not be looking at it, this is
		developer's view</h1>
	<div id="map"></div>

	<table>
	<tr>
	<td>Latitude</td>
	<td>Longitude</td>
	</tr>
	
	<tr th:each="s : ${loc}">
		<td id="latsecret" th:text="${s.latitude}"></td>
		<td id="lngsecret" th:text="${s.longitude}"></td>
	</tr>
	
	</table>


	<script>
		"use strict"
		let td = document.querySelectorAll('td');
		
		let latsecret = document.getElementById('latsecret');
		let lngsecret = document.getElementById('lngsecret');

		setTimeout(function initMap() {

			var options = {
				zoom : 4,
				center : {
					lat : parseFloat(latsecret.innerHTML),
					lng : parseFloat(lngsecret.innerHTML)
				}
			}

			var map = new google.maps.Map(document.getElementById('map'),
					options);
			
			//add the marker
			
			for(let i = 2 ; i<td.length-1 ;++i){
				addMarker(td[i].innerHTML,td[i+1].innerHTML);
			}
			
			
			function addMarker(lat, longi){
				var marker = new google.maps.Marker({
					position : {
						lat : parseFloat(lat),
						lng : parseFloat(longi)
					},
					map : map
				})
			}
			
		}, 1200)
		
				
			
			
		
	</script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuqQtBF0HC7KBxCEZLW8xh8i5GgTP-jm8&callback=initMap&libraries=&v=weekly"
		defer></script>
</body>
</html>